body {
    margin: 0;
    padding: 0;
}

#content {
    padding: 0 10px;
    min-height: 100vh;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* body.loading {
    opacity: 0;
} */